---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/shauns.png"
	heroImageShown={true}
>
	<p>
	 	During my high school years I wanted to be a heavy metal guitarist.
	</p>
	<p>
		I went to Otago University to study music to pursue a Bachelor of Music. I didn't really know what I was doing with my life and during my studies I was helping fix the laptop of someone in my hall of residence. They suggested I try out an intro to programming course because they thought I might like it. I remember thinking, "that's for nerds".
	</p>
	<p>
		Well it turns out I'm a nerd 🤘<br/>
		I completed my Bachelor of Science in Computer Science.
	</p>
	<p>
		Since then I've been working in the industry for ~10 years. I've spread myself across a variety of roles starting in QA, test automation, performance engineering, site reliability, development, devops... whatever the flavour of the month is. I love figuring out how complex technology works and improving it.
	</p>
	<p>
		<i>P.S. Sorry Dave for not applying myself in my music degree, I was too busy being a dumb adolescent. I hope you're doing well. I still get a lot of fun out of playing guitar and your parting words to me when I finished my degree drove me to apply myself in my professional career.</i>
	</p>
</Layout>
