:root {
    font-size: 10px;
    --theme-primary-color: rgb(97, 0, 177);
    --theme-link-color: var(--theme-primary-color);
    --theme-foreground-color: #222222;
    --theme-dim-foreground-color: #888888;
    --theme-background-color: #d5c8dd;
    --theme-primary-background-color: rgba(255, 255, 255, 0.3);
    --theme-social-color-filter: sepia(1) brightness(0.35) hue-rotate(207deg) saturate(1900%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-primary-color: rgb(163, 59, 223);
        --theme-link-color: var(--theme-foreground-color);
        --theme-foreground-color: #ffffff;
        --theme-dim-foreground-color: #666666;
        --theme-background-color: #222222;
        --theme-primary-background-color: rgba(0, 0, 0, 0.2);
        --theme-social-color-filter: sepia(1) brightness(0.4) hue-rotate(207deg) saturate(1800%);
    }
}

html {
    background-color: var(--theme-background-color);
}

body {
    font-size: 1.8rem;
    font-weight: 100!important;
    max-width: 110rem;
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem auto 0 auto;
    color: var(--theme-foreground-color);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: var(--theme-primary-color);
    font-size: 4.5rem;
    margin: 0rem 0 1rem -1.4rem;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

p a, ul a {
    text-decoration-color: var(--theme-primary-color);
    text-decoration-thickness: 1px;
    color: var(--theme-link-color);
}

a:hover {
    text-decoration-color: var(--theme-foreground-color);
}

#socials {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 3.1rem;
    top: 3.1rem;
}

#socials img {
    display: block;
    width: 3rem;
    filter: var(--theme-social-color-filter);
}

#socials a:hover {
    filter: brightness(125%);
}

ul {
    padding-left: 0;
    list-style-type: none;
}

ul h2 {
    font-size: 2.2rem;
    padding-top: 0.8rem;
    margin-bottom: 0;
}

ul li {
    clear: both;
}

ul li p {
    margin-top: 1rem;
}

.pixelated {
    image-rendering: pixelated;
}

.right-thumb {
    float: right;
    height: 10rem;
    width: 10rem;
    margin: 0 0 0.5rem 2rem;
}

.left-thumb {
    clear: left;
    float: left;
    height: 8rem;
    width: 8rem;
    margin: 0.5rem 2rem 0.5rem 0;
}

code {
    color: var(--theme-primary-color);
    font-size: 1.3rem;
    border-radius: 0.3rem;
    background: var(--theme-primary-background-color);
    padding: 0 0.3rem 0.1rem 0.3rem;
}

#construction {
    cursor: pointer;
    height: 5rem;
}

img {
    max-width: 100%;
}

.right {
    float: right;
}

.centered {
    text-align: center;
}

.styled-list {
    padding-left: 3rem;
    list-style-type: disc;
}

.styled-list li {
    margin-top: 1.5rem;
}

.date-footer {
    color: var(--theme-dim-foreground-color);
    display: block;
    float: right;
    font-size: 1.5rem;
    margin-top: 1.0rem;
}

@media screen and (max-width: 75rem) {
    h1 {
        margin: 0rem 0 1rem 0;
    }
    .month {
        display: none;
    }
}

#interests  {
    color: var(--theme-dim-foreground-color);
}